<div class="footer">
  <div class="content-container">
    <div class="footer-content content-width">
      <span style="line-height: 30px;"> &copy; Leaf, BFA 2018</span>
      <span class="logo-container">
        <a href="https://catalyst-fund.org/" target="_blank">
          <img style="height: 30px;" src="/assets/images/catalyst-logo.png">
        </a>
        <a href="http://bfaglobal.com/" target="_blank">
          <img style="height: 30px;" src="/assets/images/bfa-logo.png">
        </a>
      </span>
    </div>
  </div>
</div>